@charset "ISO-8859-1";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.banner {
width: 100%;
    height: 100vh;
    background: white;
    background-size: cover;
    background-position: center;
    position: fixed;
    overflow: auto;
}

.navbar {
    position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        margin: auto;
        padding: 25px 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: black;
        z-index: 9;
        height: 130px;
}

.nav {
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.nav-item a {
    margin-left: 20px;
}

.nav-item a img {
    width: 30px;
}

.icon {
    width: 120px;
    border-radius: 45px;
    cursor: pointer;
}

.content {
    width: 100%;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    text-align: center;
    color: #BF953F;
}

.content h1 {
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Times New Roman', serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.tablebox {
    padding: 25px 0px 0px 0px;
    margin-top: -25%;
}
.button-tile {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(65, 73, 65, 0.2);
    text-align: center;
    transition: all 0.3s ease;
}

.input-container label {
    color: #8fbc8f;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    left: 8px;
    top: 60px;
}

.update {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}


label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}


 input[type="submit"] {

     margin-top: 20px;
     background-color: #8fbc8f;
     color: white;
     border: none;
     cursor: pointer;

    width: 350px; /* Set the width of the button to 150 pixels */
    height: 40px; /* Set the height of the button to 40 pixels */
    padding: 10px 20px

 }

input[type="submit"]:hover {
    background-color: #8fbc8f;
}

.form {
    background-color: rgba(0, 0, 0, 0.055);
    margin-top: 450px !important;
}

.form1 {
    box-shadow: 0px 5px 8px #8fa5bc;
    background-color: rgba(0, 0, 0, 0.055);
    height: 950px;
}

.form2 {
    box-shadow: 0px 5px 8px #8fa5bc;
    background-color: rgba(0, 0, 0, 0.055);
}

.input-fields {
    width: 400px;
    height: 180px;
    color: #8fbc8f;
    font-size: 23px;
}

.input-fields0 {
    width: 400px;
    height: 60px;
    color: #8fbc8f;
    font-size: 23px;
}

.input-fields1 {
    
    width: 360px;
    height: 800px;
    color: #def4d2;
    font-size: 15px;
}

.ip {
    width: 90%;
    height: 40px;
}

.ip1 {
    width: 100%;
    height: 40px;
}

.top {
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
    color: #949494;
}

.text {
    font-family: sans-serif;
    font-size: '25px';
    color: black;
}

.button {
    display: flex;
}

.button input[type="submit"] {
    flex-grow: 1;
    margin-right: 10px;
}

/* css/l.css */
/* css/l.css */
.back-button-dh,
.back-button {
    width: auto; /* Set width to 'auto' to adjust button size based on content */
    padding: 11px 30px; /* Reduce padding for a smaller button */

    background-color: #8fbc8f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Reduce font size for a smaller button */
    flex-grow: 1;

margin-left: 700px;
}
 .new{
 margin-left: 570px;
 margin-top: 135px;
 }

 .submit {
     width: 100% !important;
     padding: 10px !important;
     margin-top: 50px !important;
     background-color: rgba(0, 0, 0, 0.75) !important;
     color: #fff !important;
     border: none !important;
     border-radius: 4px !important;
     cursor: pointer !important;
     font-size: 20px !important;
     height: 40px !important;
     width: 160px !important;
 }

 .submit:active {
     background-color: #a0a8b000 !important;
 }

 /* Style for when hovering over the button */
 .submit:hover {
     background-color: #a0a8b03b !important;
 }