<!DOCTYPE html>
<html>
<head>
    <title>Dean Leave Requests</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <div class="nav">
                <img src="{{ url_for('static', filename='images/icon.png') }}" class="icon">
            </div>
            <input class="submit" type="button" value="Back" onclick="return_hr()">
        </div>
    <h1 class="content">Dean Leave Requests</h1>
    <table class="table-list1">
        <tr class="tr">
            <th class="th">S.No</th><br>
            <th class="th">Name</th><br>
            <th class="th">Start Date</th><br>
            <th class="th">End Date</th><br>
            <th class="th">Reason</th><br>
            <th class="th">Number of days</th>
            <th class="th">Approved by HR</th><br>
            <th class="th">Approved by Department Head</th><br>
        </tr>
        {% for leave_request in leave_requests %}
        <tr>
            <td>{{ leave_request.id }}</td><br>
            <td>{{ leave_request.name }}</td><br>
            <td>{{ leave_request.start_date }}</td><br>
            <td>{{ leave_request.end_date }}</td><br>
            <td>{{ leave_request.reason }}</td><br>
            <td>{{leave_request.noofdays}}</td>
            <td>{{ leave_request.approved_by_hr }}</td><br>
                <td>
                <form method="POST" action="/update_approval_department_head/{{ leave_request.id }}">
                    <input type="hidden" name="request_id" value="{{ leave_request.id }}">
                    <input type="radio" name="approval_status" value="approved" {% if leave_request.approved_by_department_head %}checked{% endif %}> Approve
                    <input type="radio" name="approval_status" value="disapproved" {% if not leave_request.approved_by_department_head %}checked{% endif %}> Disapprove
                    <input type="submit" value="Update Approval" name="update_approval">
                </form>
            </td>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    
    <script>
        function return_hr() {
            window.location.href = "/dh_again";
        }
    </script>
</body>
</html>
