<!DOCTYPE html>
<html>
<head>
    <title>Employee Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>

    <div class="banner">
        <div class="navbar">
            <div class="nav">
                <img src="{{ url_for('static', filename='images/icon.png') }}" class="icon">
            </div>
                {% if current_user.role == 'HR' %}
                <input class= "submit" type="button" value="Back" onclick="return_hr()">
                {% elif current_user.role == 'Department Head' %}
                <input class= "submit" type="button" value="Back" onclick="return_dh()">
                {% endif %}
            </div>
        <h1 class="content">Employee List</h1>
        <table class="table-list" action="/everysearch">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Employee-ID:</th>
                    <th>Department</th>
                    <th>Email</th>
                    <th>Contact-No</th>
                    <th>Team Leader Name</th>
                    <th>Address</th>
                    <th>Blood</th>
                    <th>Team Leader ID</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.eid }}</td>
                    <td>{{ employee.department }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.contactNo }}</td>
                    <td>{{ employee.supervisor_id }}</td>
                    <td>{{ employee.address }}</td>
                    <td>{{ employee.blood }}</td>
                    <td>{{ employee.team_leader_id }}</td>
        <td>{{ "Exit" if employee.status == 'exit' else "Stay" }}</td>
                </tr>
                {% endfor %}
</tbody>
        </table>
    

    <script>
        function return_hr() {
            window.location.href = "/hr_again";
        }
        function return_dh() {
            window.location.href = "/dh_again";
        }
    </script>
</body>
</html>




