<!DOCTYPE html>
<html>
<head>
    <title>Search by Team Leader ID</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <style>
        .banner {
            background-image: url("{{ url_for('static', filename='images/bg.png') }}");
        }
    </style>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <div class="nav">
                <img src="{{ url_for('static', filename='images/icon.png') }}" class="icon">
            </div>
        </div>

    <h1 class="content">Search Employees by Team Leader ID</h1>
    <form class="form"  method="POST" action="/search">

        <label class="text" for="team_leader_id">Enter Team Leader ID:</label>
        <input type="text" name="team_leader_id" id="team_leader_id" required>
        <button class= "button button-china" type="submit">Search</button>
    </form>
</body>
</html>
