<!DOCTYPE html>
<html>
<head>
    <title>VIVIDOBOTS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <div class="nav">
                <img src="{{ url_for('static', filename='images/icon.png') }}" class="icon">
            </div>
        </div>

    <h1 class="content">VIVDOBOTS - EMPLOYEE LEAVE MANAGEMENT SYSTEM</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <div style="position: relative; left:500px; top:40px;">
    <form class="form-reg1" method="POST" action="/signup">
        <br>
        <label class="text">Email:</label>
        <input class="ip1" type="email" name="email" required>
        <br><br>
        <div class="button-container">
        <input class= "button button-china" type="submit" value="Signup" id="signup"><input class="button button-china" type="button" value="Login" onclick="login()"></form>
        </div></div>
       
<script>
    function login() {
            window.location.href = "/login";
        } 
        </script> </div>
</body>
</html>
