@charset "ISO-8859-1";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
}

.banner {
    width: 100%;
    height: 100vh;
    background: white;
    background-size: cover;
    background-position: center;
    position: fixed;
    overflow: auto;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    padding: 25px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    z-index: 9;
    height: 130px;
}

.tablebox {
    padding: 25px 0px 0px 0px;
    margin-top: -25%;
}



.nav {
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.nav-item a {
    margin-left: 20px;
}

.nav-item a img {
    width: 30px;
}

.icon {
    width: 90px;
    border-radius: 45px;
    cursor: pointer;
}


.content {
    width: 100%;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    text-align: center;
    color: #BF953F;
}

.content h1 {
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Times New Roman', serif;
}

h2{
    width: 100%;
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        text-align: center;
        color: #BF953F;
}

.text {
    font-family: sans-serif;
    font-size: '25px';
    font-weight: bold;
}

.table {
    width: 100%;
    border-collapse: separate;
    margin-left: 20px;
    margin-top: 12%;

}
.table-list {
    width: 100%;
    border-collapse: separate;
    margin-left: 20px;
    margin-top: 6% !important;

}

.table-list1 {
    width: 100%;
    border-collapse: separate;
    margin-left: 20px;
    margin-top: -10% !important;

}


.th {
    padding: 30px;
    text-align: left;
    font-size: 20px;
    color: #BF953F;
    /*background-color: rgba(0, 0, 0, 0.055);*/
    background-size: contain, cover;
    height: 10px !important;
    width: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

table {
    border-collapse: collapse;
    align-content: center;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 400px;
    margin-left: 25%;
    font-family: 'Times New Roman', Times, serif;
}

.form-reg{
    background-color: rgba(0, 0, 0, 0.055);
        height: 270px;
        width: 450px;
        max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 15px;
            margin-left: 5%;
            margin-top: 7%;
  font-size: 20px;
 color: #000000;
}
.form-reg1 {
    background-color: rgba(0, 0, 0, 0.055);
    height: 200px;
    width: 450px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    margin-left: 5%;
    margin-top: 7%;
    font-size: 20px;
    color: #000000;
}

form{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    margin-left: 5%;
    margin-top: 7%;
}

.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    margin-left: 40%;
    margin-top: 7%;
}

.input-fields1 {
    width: 360px;
    height: 800px;
    color: #000000;
    font-size: 18px;
}
.ip1 {
    width: 100%;
    height: 40px;
}
.text {
    font-size: '25px';
    color: black !important;
    font-family: 'Times New Roman', Times, serif;
}
.button {
    display: inline-block;
    margin: 0.3em;
   text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 20px !important;
    height: 40px;
    width: 130px;
}
.button2 {
    display: inline-block;
    margin: 0.3em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 20px !important;
    height: 40px;
    width: 130px;
    margin-left: 110px;
}

.button-china {
    color: black !important;
    font-family: 'Times New Roman', Times, serif !important;
    text-decoration: none;
    font-size: 30px;
    align-content: center !important;
    text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #a1a1a1;
    box-shadow:
        2px 2px 0.5em rgba(155, 155, 155, 0.55),
        inset 1px 1px 0 rgba(255, 255, 255, 0.9),
        inset -1px -1px 0 rgba(0, 0, 0, 0.21);
    border: 1px solid #cacaca;
    background:
        -moz-linear-gradient(#ffffff, #e3e3e3);
    background:
        -webkit-linear-gradient(#ffffff, #e3e3e3);
    background:
        -o-linear-gradient(#ffffff, #e3e3e3);
    background:
        linear-gradient(#ffffff, #e3e3e3);
}

 .button1 {
     display: inline-block;
     margin: 0.3em;
     text-transform: uppercase;
     text-align: center;
     letter-spacing: 0.2em;
     font-size: 20px !important;
     height: 40px;
     width: 130px;
     margin-left: 120px;
 }

 .form-container {
     position: relative;
     left: 500px;
     top: 40px;
 }

 .button-container {
     display: flex;
     /* Use flexbox to arrange buttons horizontally */
     gap: 10px;
    margin-left: 30px;
 }

 .submit {
     width: 100% !important;
     padding: 10px !important;
     margin-top: 50px !important;
     background-color: rgba(0, 0, 0, 0.75) !important;
     color: #fff !important;
     border: none !important;
     border-radius: 4px !important;
     cursor: pointer !important;
     font-size: 20px !important;
     height: 40px !important;
     width: 160px !important;
 }

 .submit:active {
     background-color: #a0a8b000 !important;
 }

 /* Style for when hovering over the button */
 .submit:hover {
     background-color: #a0a8b03b !important;
 }
 .icon2 {
     margin-top: 7%;
     width: 270px;
     height: 80px;
     border-radius: 45px;
     cursor: pointer;
 }