<!DOCTYPE html>
<html>
<head>
    <title>Employee Management System - Add Employee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/l.css') }}">
</head>
<body>


    <div class="banner">
        <div class="navbar">
            <div class="nav">
                <img src="{{ url_for('static', filename='images/icon.png') }}" class="icon">
                <img src="{{ url_for('static', filename='images/name.png') }}" class="icon2">
                <div class="nav-items"></div>
            </div>
            </div>
       </div>
            {% if current_user.role == 'HR' %}
            <a href="{{ url_for('hr_again', user_id=user.id) }}" >
    <button class="submit">BACK</button>
</a>
        {% elif current_user.role == 'Department Head' %}
        <a href="{{ url_for('hr_again', user_id=user.id) }}">
    <button class="submit">BACK</button>
</a>
        {% else %}
        <a href="{{ url_for('employee_again', user_id=user.id) }}">
    <button class="submit">BACK</button>
</a>
        {% endif %}
    </div>
</div>

<div class="content">
    <h1> &nbsp; &nbsp; EMPLOYEE DETAILS</h1>
</div>
<div class="tablebox">
<div style="position: relative; left:40px; top:35px;">
    <form action="{{ url_for('add_employee', user_id=user.id) }}"  method="post" class="form">
        <div class="input-fields1">
            <label class="text" for="name">Name:</label>
            <input class="ip1" type="text" size="50" id="name" name="name" value="{{ user.name }}" required><br><br>

            <label class="text" for="eid">Employee ID:</label>
            <input class="ip1" type="text" id="eid" name="eid" size="50" value="{{ user.eid }}" required><br><br>


            <label class="text" for="contactNo">Contact No.:</label>
            <input class="ip1" type="text" size="50" id="contactNo" name="contactNo" value="{{ user.contactNo }}"
                required><br><br>

            <label class="text" for="email">Email ID:</label>
            <input class="ip1" type="email" size="50" id="email" name="email"  value="{{ user.email }}" required><br><br><br>

            <label class="text" for="address">Address:</label>
            <input class="ip1" type="textarea" size="50" id="address" name="address"  value="{{ user.address }}" required><br><br>

            <label class="text" for="blood">Blood Group:</label>
            <input class="ip1" type="text" size="50" id="blood" name="blood" value="{{ user.blood }}"  required><br><br>

            <label class="text" for="department">Department:</label>
            <input class="ip1" type="text" id="department" name="department" value="{{ user.department }}" required><br><br>

            <label class="text" for="team_leader_id">Team Leader ID:</label>
            <input class="ip1" type="text" id="team_leader_id" name="team_leader_id" value="{{ user.team_leader_id }}"><br><br>

            <label class="text" for="supervisor_id">Team Leader Name:</label>
            <input class="ip1" type="text" id="supervisor_id" name="supervisor_id"  value="{{ user.supervisor_id }}"><br><br>

        </div>
        <input type="submit" value="Submit">
    </form>
</div></div>

    <script>
        function return_hr() {
            window.location.href = "/hr_again";
        }
        function return_dh() {
            window.location.href = "/dh_again";
        }
        function return_employee() {
            window.location.href = "/employee_again";
        }
    </script>
</body>
</html>