<!DOCTYPE html>
<html>
<head>
    <title>Leave Request Form</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/leave.css') }}">
    <style>
        .banner {
            background-image: url("{{ url_for('static', filename='images/bg.png') }}");
        }
    </style>
</head>
<body>


    <div class="banner">
        <div class="navbar">
        <div class="nav">
            <img src="{{ url_for('static', filename='images/icon.png') }}" class="icon">
            <img src="{{ url_for('static', filename='images/name.png') }}" class="icon2">
        </div>
            {% if current_user.role == 'HR' %}
            <a href="{{ url_for('hr_again', user_id=user.id) }}" >
    <button class="submit">BACK</button>
</a>
        {% elif current_user.role == 'Department Head' %}
        <a href="{{ url_for('hr_again', user_id=user.id) }}">
    <button class="submit">BACK</button>
</a>
        {% else %}
        <a href="{{ url_for('employee_again', user_id=user.id) }}">
    <button class="submit">BACK</button>
</a>
        {% endif %}
    </div>
    <div class="content">
<br>
        <h1 >&nbsp;&nbsp;&nbsp;&nbsp; Leave Request Form</h1>
    
    </div>
    <br><br><br><br><br>
<div class="tablebox">
    <div style="position: relative; left:40px; top:35px;">
    <form class= "form" method="POST" action="/req">
        <div class="input-fields-form">
        <label class="text" for="name">Name:</label>
        <input class="ip1" size=50 type="text" id="name" name="name" required><br><br>

        <label class="text" for="eid">Employee ID:</label>
        <input class="ip1" size=50  type="text" id="eid" name="eid" required><br><br>

        <label class="text" for="start_date">Start Date:</label>
        <input class="ip1" size=50 type="date" id="start_date" name="start_date" required><br><br>

        <label class="text" for="end_date">End Date:</label>
        <input class="ip1" size=50 type="date" id="end_date" name="end_date" required><br><br>

        <label class="text" for="reason">Leave Type:</label>
        <select id="reason" name="reason" class="ip1" size="50">
            <option value="" disabled selected>Select reason</option>
            <option value="Sick leave">Sick Leave</option>
            <option value="Personal leave">Personal Leave</option>
            <option value="Emergency Leave">Emergency Leave</option>
        </select><br><br>
        <label class="text" for="noofdays" >Total Number of days:</label>
        <input  class="ip1" size=50  type="text" id="noofdays" name="noofdays"><br><br>
</div>

        <input type="submit" value="SUBMIT">
    </form></div></div>

</body>
</html>
